<!-- $Id: goods_info.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
<!-- 修改 by www.68ecshop.com 百度编辑器 begin -->

{include file="pageheader_bd.htm"} {insert_scripts files="../js/utils.js,selectzone_bd.js,colorselector.js"}
<!-- 修改 by www.68ecshop.com 百度编辑器 end -->
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<!-- 代码增加 By  www.68ecshop.com 促销商品时间精确到时分 Start -->
<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<!-- 代码增加 By  www.68ecshop.com 促销商品时间精确到时分 End -->
<!-- zTree Style -->
<link href="styles/zTree/zTreeStyle.css" rel="stylesheet" type="text/css" />
{insert_scripts files='jquery.ztree.all-3.5.min.js,category_selecter.js'} {if $warning}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
	<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;">{$warning}</li>
</ul>
{/if}

<!-- start goods form -->
<div class="tab-div">
	<!-- tab bar -->
	<div id="tabbar-div">
		<p>
			<span class="tab-front" id="base-tab">基本信息</span>
			<span class="tab-back" id="general-tab">通用设置</span>
			<span class="tab-back" id="detail-tab">详细描述</span>
			<span class="tab-back" id="pic-tab">酒店图片</span>
			<span class="tab-back" id="mix-tab">酒店设施</span>
			
			<span class="tab-back" id="properties-tab">酒店搜索设置</span>
	
			<span class="tab-back" id="gallery-tab">商品相册</span>
			<span class="tab-back" id="linkgoods-tab">关联商品</span>
			{if $code eq ''}
			<span class="tab-back" id="groupgoods-tab">配件</span>
			{/if}
			<span class="tab-back" id="article-tab" style="display:none">{$lang.tab_article}</span>
		</p>
	</div>

	<!-- tab body -->
	<div id="tabbody-div">
		<!-- <form enctype="multipart/form-data" action="" method="post" name="theForm"> -->
      		<!-- 最大文件限制 -->
			<input type="hidden" name="MAX_FILE_SIZE" value="2097152" />

			<!-- 基本信息 -->
			<iframe width="100%" height="500px" id="base-table" align="center" src="supplier.php?act=supplier_base_info&supplier_id={$supplier_id}"></iframe>

      		<!-- 通用信息 -->
			<iframe width="100%" height="500px" id="general-table" style="display:none" align="center" src="shop_config.php?act=list_edit&supplier_id={$supplier_id}"></iframe>
			

      		<!-- 详细描述 -->
			<iframe width="100%" id="detail-table" style="display:none" src="#"></iframe>

			<!-- 酒店图片 -->
      		<iframe width="100%" id="pic-table" height="500px" align="center" style="display:none" src="flashplay.php?act=list&supplier_id={$supplier_id}"></iframe>

      		<!-- 酒店设施 -->
      		<iframe width="100%" id="mix-table" height="500px" align="center" style="display:none" src="hotels_attribute.php?act=hotel_attribute_view&type=service&supplier_id={$supplier_id}"></iframe>


      		<!-- 酒店搜索设置 --> 
			<iframe width="100%" height="500px" align="center" id="properties-table" style="display:none" src="hotels_attribute.php?act=hotel_attribute_view&type=search&supplier_id={$supplier_id}"></iframe>


			<!--代码修改_start By www.ecshop68.com  将 商品相册 这部分代码完全修改成下面这样-->
			<iframe width="100%" id="gallery-table" style="display:none" src="#"></iframe>
			

			<!--代码修改_end By www.ecshop68.com-->

			<!-- 关联商品 -->
			<iframe width="100%" id="linkgoods-table" style="display:none" src="#"></iframe>

      		<!-- 配件 -->
      		<iframe width="100%" id="groupgoods-table" style="display:none" src="#"></iframe>

      		<!--
			<div class="button-div">
				<input type="hidden" name="goods_id" value="{$goods.goods_id}" />
				{if $code neq ''}
				<input type="hidden" name="extension_code" value="{$code}" />
				{/if}

				修改代码_start By www.ecshop68.com 主要是给这两个INPUT各自增加了一个ID， id="goods_info_submit"  id="goods_info_reset" 
				<input id="goods_info_submit" type="submit" value="{$lang.button_submit}" class="button" />
				<input id="goods_info_reset" type="reset" value="{$lang.button_reset}" class="button" />
				修改代码_end By www.ecshop68.com

			</div>
			<input type="hidden" name="act" value="{$form_act}" />
			-->
		<!-- </form> -->
	</div>
</div>
<!-- end goods form -->
{insert_scripts files="validator.js,iframe.js"}


